{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="{%static 'css/worker/base.css'%}">
    <title>{{data.title}}</title>
</head>

<body>
    <div class="body">

        <!-- sidenav -->
        <div class="sideNav">
            <div id="mySidenav" class="sidenav">
                <div class="sidebar-menu-header">
                    <a href="javascript:void(0)" class="closebtn" id="close">&times;</a>
                    <img src="{{data.manager.profile_image.url}}" alt="">
                    <p>{{data.manager.first_name}}</p>

                </div>
                <hr>

                <a href="{%url 'worker-farms'%}"> <i class="fas fa-carrot"></i> Farms</a>
                <a href="#"> <i class="fas fa-sticky-note"></i> New Season</a>
                <a href="#"><i class="fas fa-clipboard"></i> New Report</a>
                <a href="#"> <i class="fas fa-user"></i> Profile</a>
            </div>

            <!-- Use any element to open the sidenav -->
            <div class="base-header">
                <img id="open" src="{%static 'images/menu.svg'%}" alt="">
                <h3>{{data.title}}</h3>

            </div>

        </div>

        <!-- content -->
        <div class="worker-content">
           {%include templateName with data=data%}
        </div>
    </div>

    <!-- javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/worker/base.js"></script>
</body>

</html>