body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.all-workers-body{
    
    height: 100vh;
    overflow-y: auto;
}

.search-bar-section {
    padding: 40px;
}


.search-bar-section input[type="text"] {

    padding: 15px 5px;
    margin-bottom: 40px;
    border: none;
    width: 60vw;
    background-color: #dae0d2;
    font-family: Heebo;

}

.search-bar-section input[type="submit"] {
    width: 15vw;
    padding: 15px 10px;
    border-radius: 32px;
    background-color: #596747;
    border: none;
    color: #fcfaf4;
    cursor: pointer;
    transition: all 0.3s ease-in;
}



.workers-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.worker{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px 10px;
    background-color: rgba(218, 224, 210,0.3);
    box-shadow: 1px 5px 5px rgb(218, 224, 210);
    margin-top: 5vh;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;

}

.worker:hover{
    box-shadow: none;
}


.worker img{
    border-radius: 10px;
    width: 280px;
    height: 300px;
}

.worker h4{
    font-size: 20px;
    font-family: Heebo;
    color:#0b0d09;
    cursor: pointer;
}


