body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #fcfaf4;
    overflow-y: auto;
}

.single-farm {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    font-family: Heebo;
    margin-top: 10px;
    box-shadow: 5px 2px 5px #596747;

}

.single-farm h3{
     align-self: center;
}
.single-farm h3 a {
    color: #ddc35e;
    font-size: 18px;
    font-weight: bold;
   
}

.single-farm h4 {
    font-weight: normal;
}

.single-farm .highlight {
    color: #ddc35e;
    font-weight: bold;
    display: block;
}
