{% extends 'auth-templates/base-auth.html'%}

{% block authTemplate %}

{{block.super}}

<!-- The Body container -->
<section class="page-container">


    <!-- Intro message section -->
    <div class="intro-message-section">

        <h2> Hello Friend </h2>
        <p> Enter your personal details and start your journey with us </p>
        <a href="{% url 'login' %}">Sign In</a>

    </div>

    <!-- Form display section -->
    <div class="form-dispay-section">

        <h2>Create Account</h2>
        <p>use your email for registration</p>

        <form action="{% url 'signup' %}" method="POST">
            {% csrf_token %}

            <input type="text" name="companyName" id="signup-email" class="email-input">
            <input type="email" name="email" id="signup-email" class="email-input">
            <input type="password" name="password" id="signup-password" class="password-input">
            <input type="submit" class="submit" value="SIGN UP">

        </form>

    </div>




</section>